/* position

static: default value, follow the normal flow of the document
relative: relative to its normal position
absolute: relative to the nearest positioned ancestor

*/

.parent {
  background-color: #d2d2d2;
  padding: 20px;
  position: relative;
}

.child {
  padding: 10px;
  width: 600px;
}

.child1 {
  background-color: orange;
  position: sticky;
  top: 10px;
}

.child2 {
  background-color: greenyellow;
}

.child3 {
  background-color: royalblue;
}
